<?xml version="1.0"?>
<openbox_menu>
  <menu id="root-menu" label="">
    <item label="Firefox"><action name="Execute" command="firefox" /></item>
    <separator />
    <item label="PCManFM"><action name="Execute" command="pcmanfm" /></item>
    <separator />
    <item label="Wezterm"><action name="Execute" command="wezterm" /></item>
    <item label="XTerm"><action name="Execute" command="xterm" /></item>
    <item label="Foot"><action name="Execute" command="foot" /></item>
    <separator />
    <item label="pavucontrol"><action name="Execute" command="pavucontrol" /></item>
    <item label="gmpc"><action name="Execute" command="gmpc" /></item>
    <item label="vlc"><action name="Execute" command="vlc" /></item>
    <separator />
    <item label="conky"><action name="Execute" command="conky" /></item>
    <separator />
    <item label="Reconfigure"><action name="Reconfigure" /></item>
    <item label="wdisplays"><action name="Execute" command="wdisplays" /></item>
    <item label="Exit"><action name="Exit" /></item>
  </menu>
</openbox_menu>
