.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 150px;
  height: 75px;
  border: solid 4px;
  overflow-wrap: anywhere;
  font-size: small;
}

.group {
  border-color: green;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-content: end;
  align-items: end;
}

img {
  object-fit: contain;
}
