/* .markdown-preview-section h1, */
.cm-header-1 {
  /* border-left: solid 0.5em; */
  /* border-top: solid 2px; */
  border-bottom: solid 2px;
  color: black;
  background: silver;
  /* border-left: solid 0.5em; */
  /* padding-left: 0.3em; */
  padding: 0 0.2em 0 0.2em;
  border-radius: 5px;
}

.markdown-preview-section h2,
.cm-header-2 {
  border-bottom: solid 2px;
  /* border-left: solid 0.5em; */
  /* padding-left: 0.5em; */
  background-color: #444488;
}

.markdown-preview-section h3,
.cm-header-3 {
  border-bottom: solid 2px;
}

.cm-inline-code {
  background-color: #666666;
  border: solid #999 1px;
  margin: 2px;
  padding: 2px;
}

.HyperMD-codeblock-bg {
  background-color: #211121 !important;
}
